---
import Layout from "../layouts/Layout.astro";
import NumberInput from "../components/NumberInput.astro";
import CardLogo from "../components/CardLogo.astro";
import CompleteIcon from "../components/CompleteIcon.astro";
---

<Layout title="Interactive card form.">
  <main class="flex flex-row w-full h-screen">
    <!-- CARDS SECTION -->
    <div
      class="relative bg-mobile-pattern md:bg-hero-pattern bg-no-repeat bg-cover h-full md:min-h-screen w-full md:w-[30%]"
    >
      <div class="absolute w-min top-[20%] left-[30%] rounded-lg shadow-xl">
        <img
          class="block max-w-full"
          style="max-width: revert"
          src="/bg-card-front.png"
          alt="Credit card front view"
        />

        <CardLogo className="absolute top-[2rem] left-[2rem]" />

        <p
          class="absolute left-[2rem] top-[60%] text-white text-3xl font-semibold [word-spacing:20px]"
          id="cardNumberText"
        >
          0000 0000 0000 0000
        </p>

        <p
          class="absolute left-[2rem] bottom-[2rem] text-white font-semibold"
          id="cardHolderText"
        >
          JANE APPLESEED
        </p>

        <p class="absolute right-[4rem] bottom-[2rem] text-white font-semibold">
          <span id="monthText">00</span>/<span id="yearText">00</span>
        </p>
      </div>

      <div class="absolute w-min bottom-[20%] left-[50%] shadow-xl rounded-lg">
        <img
          class="block max-w-full"
          style="max-width: revert"
          src="/bg-card-back.png"
          alt="Credit card back view"
        />

        <p
          class="absolute right-[4rem] top-[6.7rem] font-semibold text-white"
          id="cvcText"
        >
          000
        </p>
      </div>
    </div>

    <!-- FORM SECTION -->
    <div class="min-h-screen w-[70%] grid place-content-center">
      <form
        id="formWrapper"
        class="flex flex-col gap-5 font-medium w-full max-w-[400px]"
      >
        <label class="flex flex-col">
          <p class="text-sm">CARDHOLDER NAME</p>
          <input
            type="text"
            id="cardholderInput"
            class="mt-2 border-[1px] border-[hsl(270, 3%, 87%)] rounded-md py-2 px-3"
            placeholder="e.g. Jane Appleseed"
          />
        </label>
        <label class="flex flex-col">
          <p class="text-sm mb-2">CARD NUMBER</p>
          <NumberInput id="cardNumber" placeholder="e.g. 1234 5678 9123 0000" />
        </label>
        <div class="flex flex-row gap-5">
          <label>
            <p class="text-sm">EXP. DATE (MM/YY)</p>
            <div class="inline-flex gap-3 mt-2">
              <NumberInput placeholder="MM" id="monthInput" className="w-20" />
              <NumberInput placeholder="YY" id="yearInput" className="w-20" />
            </div>
          </label>
          <label>
            <p class="text-sm mb-2">CVC</p>
            <NumberInput id="cvcInput" placeholder="e.g. 123" />
          </label>
        </div>
        <span class="text-sm text-red-500 hidden" id="errorMessage"
          >~Please fill all the inputs to continue.</span
        >
        <button
          id="submit"
          type="submit"
          class="bg-[#21092f] hover:bg-[#4e4851] text-white py-3 rounded-xl"
          >Confirm</button
        >
      </form>
      <div
        id="formCompleted"
        class="hidden flex-col justify-center text-center"
      >
        <div class="mx-auto"><CompleteIcon class="mx-auto" /></div>
        <h1 class="text-4xl font-medium my-5">THANK YOU!</h1>
        <p class="mb-12 font-medium text-lg text-[#8e8593]">
          We've added your card details
        </p>
        <button
          id="continueBtn"
          class="bg-[#21092f] hover:bg-[#4e4851] text-white py-3 rounded-xl"
          >Continue</button
        >
      </div>
    </div>
  </main>
</Layout>

<script>
  const button = document.getElementById("submit");
  const cardholderInput = document.getElementById(
    "cardholderInput"
  ) as HTMLInputElement;
  const cardInput = document.getElementById("cardNumber") as HTMLInputElement;
  const monthInput = document.getElementById("monthInput") as HTMLInputElement;
  const yearInput = document.getElementById("yearInput") as HTMLInputElement;
  const cvcInput = document.getElementById("cvcInput") as HTMLInputElement;
  const formWrapper = document.getElementById("formWrapper");
  const formCompleted = document.getElementById("formCompleted");
  const continueBtn = document.getElementById("continueBtn");

  //Text inputs
  const cardNumberText = document.getElementById("cardNumberText");
  const cardholderText = document.getElementById("cardHolderText");
  const monthText = document.getElementById("monthText");
  const yearText = document.getElementById("yearText");
  const cvcText = document.getElementById("cvcText");
  const errorMsg = document.getElementById("errorMessage");

  //Checkea que cardInput exista y cada vez que cambie su valor este mismo se muestra en pantalla
  cardInput.addEventListener("input", function () {
    let inputValue = cardInput.value.replace(/\D/g, ""); // Elimina caracteres no numéricos

    if (inputValue.length > 16) {
      inputValue = inputValue.slice(0, 16); // Limita la longitud a 16 caracteres
    }

    // Agrega separadores cada 4 caracteres
    inputValue = inputValue.replace(/(\d{4})(?=\d)/g, "$1 ");

    let cardNumber = inputValue; // Actualiza la variable cardNumber

    if (cardNumber !== "") {
      cardNumberText.innerHTML = cardNumber;
    } else {
      cardNumber = "0000 0000 0000 0000";
      cardNumberText.innerHTML = cardNumber;
    }

    console.log(cardNumber);
  });

  //Checkea que el input del nombre no este vacio y guarda el valor para mostrarlo en pantalla
  cardholderInput.addEventListener("input", function () {
    let inputValue = cardholderInput.value.replace(/\d/g, "").toUpperCase();

    let cardHolder = inputValue;

    if (cardHolder !== "") {
      cardholderText.innerHTML = cardHolder;
    } else {
      cardHolder = "JANE APPLESEED";
      cardholderText.innerHTML = cardHolder;
    }
  });

  monthInput.addEventListener("input", function () {
    let inputValue = monthInput.value.replace(/\D/g, "");

    if (inputValue.length > 2) {
      inputValue = inputValue.slice(0, 2); // Limita la longitud a 16 caracteres
    }

    let monthNumber = inputValue;

    if (monthNumber !== "") {
      monthText.innerHTML = monthNumber;
    } else {
      monthText.innerHTML = "00";
    }
    console.log("This is the month number" + monthNumber);
  });

  yearInput.addEventListener("input", function () {
    let inputValue = yearInput.value.replace(/\D/g, "");

    if (inputValue.length > 2) {
      inputValue = inputValue.slice(0, 2); // Limita la longitud a 16 caracteres
    }

    let yearNumber = inputValue;

    if (yearNumber !== "") {
      yearText.innerHTML = yearNumber;
    } else {
      yearText.innerHTML = "00";
    }
  });

  cvcInput.addEventListener("input", function () {
    let inputValue = cvcInput.value.replace(/\D/g, "");

    if (inputValue.length > 3) {
      inputValue = inputValue.slice(0, 3); // Limita la longitud a 16 caracteres
    }

    let cvcNumber = inputValue;

    if (cvcNumber !== "") {
      cvcText.innerHTML = cvcNumber;
    } else {
      cvcText.innerHTML = "000";
    }
  });

  function validateInputs(inputs: Array<HTMLInputElement>, error: HTMLElement) {
    const isAnyEmpty = inputs.some((input) => input.value === "");

    if (isAnyEmpty) {
      error.style.display = "block";
    } else {
      formWrapper.style.display = "none";
      formCompleted.style.display = "flex";
    }
  }

  button.onclick = function (e) {
    e.preventDefault();

    validateInputs(
      [cardholderInput, cardInput, monthInput, yearInput, cvcInput],
      errorMsg
    );
  };

  continueBtn.onclick = function () {
    formCompleted.style.display = "none";
    formWrapper.style.display = "flex";
    errorMsg.style.display = "none";
  };
</script>
